<ion-content>

      <!-- ::::: ABOUT HEADER ::::: -->
      <ion-row>
          <ion-col size="10" offset="1" class="header-block ion-text-center" href="ux">
            <img src="../../assets/Mike-Bowlin-Branding-MB-Logo.svg" alt="Mike Bowlin UX Brand">
            <h2>About Me</h2>
            <em><span class="dropcap"><span class="first">T</span>w</span>elve years of UX Design and Engineering from
              Startups to Enterprise.
            </em>
          </ion-col>
        </ion-row>
  
        <ion-col size="3">
          <div>
  
            <ion-row>
              <ion-col size="3">
                <img src="../../assets/Mike-Bowlin-UX-UI-Software-Engineer-Avatar.png"
                  alt="Mike Bowlin UX UI Software Engineer Avatar">
              </ion-col>
              <ion-col size="7">
                <h3>Mike <span>Bowlin</span></h3>
                <p>Senior UX Designer and Software Engineer</p>
                <a href="mailto:info@michaelbowlin.com">info@michaelbowlin.com</a>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
  
  
  
        <ion-row>
          <ion-col size="6" offset="3">
  
            <ion-col size="6" offset="3">
  
            </ion-col>
  
            <ion-card>
              <ion-item>
                <ion-label>12 years of UX from Startup to Enterprise.</ion-label>
              </ion-item>
  
              <ion-card-content>
                <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
                <p></p>
                <p></p>
                <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
  
              </ion-card-content>
              <footer>
  
                <ion-item>
                  <ion-label>Industries:</ion-label>
                </ion-item>
                <p></p>
                <ion-chip outline>
                  <ion-label>Healthcare</ion-label>
                </ion-chip>
  
                <ion-chip outline>
                  <ion-label>Education</ion-label>
                </ion-chip>
  
                <ion-chip outline>
                  <ion-label>Telecommunications</ion-label>
                </ion-chip>
  
                <ion-chip outline>
                  <ion-label>Distribution</ion-label>
                </ion-chip>
  
                <ion-chip outline>
                  <ion-label>Startups</ion-label>
                </ion-chip>
  
  
              </footer>
            </ion-card>
  
          </ion-col>
        </ion-row>
  
  
  
        <ion-row>
          <ion-col size="10" offset="1" class="header-block ion-text-center" href="ux">
            <ion-row>
              <ion-col size="6" offset="3">
                <!-- Header -->
                <h2 class="ion-text-center">UX Samples</h2>
                <p><span class="dropcap"><span class="first">F</span>r</span>om discovery to UX prototyping and evaluation
                  my UX leadership has helped shape multiple
                  products in various industries.
                </p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
</ion-content>