// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
:root {
  --grid-breakpoint-xs: 0;
  --grid-breakpoint-sm: 1000px;
  --grid-breakpoint-md: 2000px;
  --grid-breakpoint-lg: 3000px;
  --grid-breakpoint-xl: 1200px;
}
$grid-breakpoints: (
xs: 0,
sm: 400px,
md: 1000px,
lg: 2000px,
xl: 3000px
);
/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  //====================
  //  (TBD) GRID BREAKPOINTS
  //====================

  --ion-grid-width-xs: 100%;
  --ion-grid-width-sm:              1024px;
  --ion-grid-width-md:              1366px;
  --ion-grid-width-lg:              1500px;
  --ion-grid-width-xl:              2200px;

  //====================
  //  (GV-IONIC) APPLICATION COLORS
  //====================
  //--ion-background-color	              Background color of entire app
  //--ion-background-color-rgb	          Background color of entire app, rgb format
  //--ion-text-color	                    Text color of entire app
  //--ion-text-color-rgb	                Text color of entire app, rgb format
  //--ion-backdrop-color	                Color of the Backdrop component
  //--ion-overlay-background-color	      Background color of the overlays
  //--ion-border-color	                  Border color
  //--ion-box-shadow-color	              Box shadow color
  //--ion-tab-bar-background	            Background of the Tab bar
  //--ion-tab-bar-background-focused	    Background of the focused Tab bar
  //--ion-tab-bar-border-color	          Border color of the Tab bar
  //--ion-tab-bar-color	                  Color of the Tab bar
  //--ion-tab-bar-color-activated	        Color of the activated Tab
  //--ion-toolbar-background	            Background of the Toolbar
  //--ion-toolbar-border-color	          Border color of the Toolbar
  //--ion-toolbar-color	                  Color of the components in the Toolbar
  //--ion-toolbar-color-activated	        Color of the activated components in the Toolbar
  //--ion-toolbar-color-unchecked	        Color of the unchecked components in the Toolbar
  //--ion-toolbar-color-checked	          Color of the checked components in the Toolbar
  //--ion-item-background	                Background of the Item
  //--ion-item-background-activated	      Background of the activated Item
  //--ion-item-border-color	              Border color of the Item
  //--ion-item-color	                    Color of the components in the Item
  //--ion-placeholder-color	              Color of the placeholder in inputs

  //====================
  //  (GV-IONIC) APPLICATION VARIABLES
  //====================
  //--ion-font-family	          Font family of the app
  //--ion-statusbar-padding	    Statusbar padding top of the app
  //--ion-safe-area-top	        Adjust the safe area inset top of the app
  //--ion-safe-area-right	      Adjust the safe area inset right of the app
  //--ion-safe-area-bottom	    Adjust the safe area inset bottom of the app
  //--ion-safe-area-left	      Adjust the safe area inset left of the app
  //--ion-margin	              Adjust the margin of the Margin attributes
  //--ion-padding	              Adjust the padding of the Padding attributes

  //====================
  //  (GV-IONIC) GRID VARIABLES
  //====================
  //--ion-grid-columns	          Number of columns in the grid
  //--ion-grid-padding-xs	        Padding of the grid for xs breakpoints
  //--ion-grid-padding-sm	        Padding of the grid for sm breakpoints
  //--ion-grid-padding-md	        Padding of the grid for md breakpoints
  //--ion-grid-padding-lg	        Padding of the grid for lg breakpoints
  //--ion-grid-padding-xl	        Padding of the grid for xl breakpoints
  //--ion-grid-column-padding-xs	Padding of the grid columns for xs breakpoints
  //--ion-grid-column-padding-sm	Padding of the grid columns for sm breakpoints
  //--ion-grid-column-padding-md	Padding of the grid columns for md breakpoints
  //--ion-grid-column-padding-lg	Padding of the grid columns for lg breakpoints
  //--ion-grid-column-padding-xl	Padding of the grid columns for xl breakpoints

  //====================
  //  IOS SPECIFIC
  //====================
  //.ios {
  //
  //}

  //====================
  //  MATERIAL DESIGN SPECIFIC
  //====================
  //.md {
  //
  //}
}

//====================
//  (TBD) BUG PATCHES
//====================
// Missing iOS icons after setting a global toolbar style
// Ionic doesn't use the toolbar CSS variables correctly behind the scenes
ion-toolbar {
  ion-button,
  ion-back-button,
  ion-menu-button,
  .sc-ion-back-button-ios-h {
    --color: white;
  }
}
