// Home Header
ion-header {
  ion-tab-button {
    color: var(--ion-color-medium-shade);
    ion-label {
      color: var(--ion-color-medium-shade);
    }
  }
}

ion-grid {
  padding: 0;
}

.L {
  &-wrapper {
    ion-row {
      &.infographic {
        min-height: 11.5em;
        padding: 1em 1em 3em 1em;
        // 1
        // backgroud: #2ebf91;  /* fallback for old browsers */
        // background: -webkit-linear-gradient(to right, #7A70BB, #2ebf91);  /* Chrome 10-25, Safari 5.1-6 */
        // background: linear-gradient(to right, #7A70BB, #2ebf91); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
    }

    @media only screen and (max-width: 1024px) {
      ion-row {
        &.infographic {
          max-width: 1366px;
          overflow-y: auto !important;

          img {
            // display: none
          }
        }
      }
    }

    h1 {
      color: var(--ion-color-light);
      font-size: 4.5em;
      font-weight: 100;
      text-align: center;
      position: fixed;
      top: 15%;
      left: calc(50% - 50%);
      width: 100%;
    }

    .content {
      .header-block {
        padding: 2em 1em 2em 1em;

        .brand-logo {
          margin-top: 18px;
        }
      }

      ion-slides {
        --bullet-background: #eee;
        --bullet-background-active: #000;

        ion-slide {
          //height: 700px !important;

          &:nth-child(1) {
          }

          &:nth-child(2) {
          }

          &:nth-child(3) {
          }
        }
      }

      .footer-block {
        ion-button {
          --background: none;
          --background-hover: none;
          background-color: #31c7b5;
          background-image: linear-gradient(19deg, #31c7b5 0%, #3fbdb9 100%);
          border-radius: 35px;

          &:hover {
            background-color: #3fbdb9;
            background-image: linear-gradient(19deg, #3fbdb9 100%, #31c7b5 0%);
          }
        }
      }
    }
  }
}

// CHANGE BELOW

.lb {
  &-leaf {
    ion-col {
      margin-top: 6em;
      ion-row {
        ion-col {
          position: relative;
          overflow: hidden;
          height: 6em;
          border-radius: 0.7em;
          box-shadow: 0 15px 31px 0 rgba(0, 7, 92, 0.38);

          p {
            position: absolute;
            bottom: -2px;
            right: -4px;
            margin: 0;
            font-size: 1.2em;
            color: #fff;
            font-weight: 900;
            line-height: 5em;
            width: 60%;
            overflow: visible;
          }

          &:nth-child(4) {
            background-image: linear-gradient(-35deg, #b31919 3%, #fb8332 94%);
            img {
              position: absolute;
              left: 21px;
              top: -20px;
              width: 8em;
            }
          }

          &:nth-child(2) {
            background-image: linear-gradient(-35deg, #9119b3 0%, #e64c4c 88%);
            img {
              position: absolute;
              left: 14px;
              top: -16px;
              width: 7.8em;
            }
          }

          &:nth-child(5) {
            // height:14rem;
            background-image: linear-gradient(-35deg, #4e2bcc 3%, #b620e0 100%);
            img {
              position: absolute;
              left: -17px;
              top: 12px;
              width: 8em;
            }
          }

          &:nth-child(1) {
            display: none;
            //background-image: linear-gradient(-35deg, #289dcc 3%, #815eff 94%);
          }

          &:nth-child(6) {
            display: none;
            //background-image: linear-gradient(-35deg, #36ac91 3%, #5ad0ff 94%);
          }

          &:nth-child(3) {
            background-image: linear-gradient(-35deg, #57a900 3%, #69dfc4 94%);
            img {
              position: absolute;
              left: 0px;
              top: -20px;
            }
          }
        }
      }
    }

    ion-col {
      &.block-full {
        height: 40em;
        margin: 5em 0;
        background: #540bc8;
      }
    }
  }
}

.slogan {
  i {
    width: 100%;
    padding: 1.8em 0 0 0;
    color: #c03579;
  }
}

.mb-nav {
  h2 {
    width: 100%;
  }
}