<ion-content>
  <ion-header>
    <ion-tab-bar slot="top">
      <ion-grid>
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-row>
              <!-- Section - Logo -->
              <ion-col class="ion-text-end" size="5" style="border: yellowgreen solid 0px;">
                <ion-row class="mb-logo">
                  <ion-col size="2" style="border: violet solid 0px;">
                    <!-- Logo -->
                    <img class="logo" src="../assets/logo.svg" alt="" width="auto" height="auto">
                  </ion-col>
                  <ion-col class="ion-text-start" size="8" style="border: lightblue solid 0px;">
                    <!-- Logo Text -->
                    <h2 style="font-weight: bolder;color: var(--ion-color-light)">
                      Mike <span>Bowlin</span>
                    </h2>
                    <!-- Title -->
                    <div class="job-title">Senior UX Designer & Software Engineer</div>

                  </ion-col>
                </ion-row>
              </ion-col>
              <!-- Section - Nav -->
              <ion-col size="4" offset="3">
                <ion-row>
                  <ion-col>
                    <a href="#mb">
                      <ion-tab-button tab="one">
                        <ion-label style="font-weight: bold;color: var(--ion-color-light)">MB</ion-label>
                      </ion-tab-button>
                    </a>
                  </ion-col>
                  <ion-col>
                    <ion-tab-button tab="one" href="#ux">
                      <ion-label style="font-weight: bold;color: var(--ion-color-light)">UX</ion-label>
                    </ion-tab-button>
                  </ion-col>
                  <ion-col>
                    <ion-tab-button tab="two" href="#ui">
                      <ion-label style="font-weight: bold;color: var(--ion-color-light)">UI</ion-label>
                    </ion-tab-button>
                  </ion-col>
                  <ion-col>
                    <ion-tab-button tab="three">
                      <ion-label style="font-weight: bold;color: var(--ion-color-light)">SAMPLES</ion-label>
                    </ion-tab-button>
                  </ion-col>
                  <ion-col size="2">
                    <ion-row>
                      <ion-col class="L-ucard-footer-links" margin=".5em">
                        <ion-icon padding color="light" name="contact"></ion-icon>
                      </ion-col>
                    </ion-row>

                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-tab-bar>
  </ion-header>

  <ion-grid class="L-wrapper">
    <!-- Infographic -->
    <ion-row class="intro">
      <ion-col size="10" offset="1">
        <img src="../assets/Mike-Bowlin-UX-UI-Software-Engineer.svg"
          alt="Mike Bowlin UX UI Software Engineer - Infographic" width="100%" height="auto">
      </ion-col>
    </ion-row>

    <ion-col class="content">

      <!-- ::::: Recommendation - Kurt  ::::: -->
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-row>
            <ion-col size="8" offset="2" class="recommendation">
              <ion-row>
                <ion-col size="3">
                  <ion-row>
                    <ion-col size="12" class="ion-text-center ion-no-padding">
                      <img height="120px" width="auto"
                        src="http://mikebowlin.com/wp-content/uploads/2015/04/Screen-Shot-2019-09-29-at-3.38.59-AM.png"
                        alt="Mike Bowlin - Recomendation from Kurt Lingel">
                    </ion-col>
                    <ion-col size="12" class="job-title ion-text-center ion-no-padding">
                      <h4>Kurt Lingel</h4>
                      <p class="ion-no-margin"><em>CTO</em></p>
                      <strong class="ion-no-margin">Anthem Blue Cross</strong>
                    </ion-col>
                  </ion-row>


                </ion-col>
                <ion-col class="body-copy">
                  <pre>"</pre>
                  <p>Mike is an extremely talented UX/UI engineer. He truly focuses on understanding the user and the
                    problems they need to solve, and then turns that research into visual designs and implementations
                    that make the user experience more effective moving forward.
                  </p>
                  <p></p>
                  <p>Mike is also always looking for more
                    efficient tools for himself and the organization as a whole that allowed us to do rapid prototyping
                    and agile implementations that incorporate a constant feedback loop. I energetically recommend Mike
                    for your UX/UI team!</p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <hr>
        </ion-col>
      </ion-row>

      <!-- ::::: COMPANY LOGOS ::::: -->
      <ion-row>
        <ion-col size="10" offset="1">
          <!-- Job Logo Grid -->
          <ion-row class="job-logos">
            <ion-col size="8" offset="2">
              <ion-row>
                <ion-col><img src="http://mikebowlin.com/wp-content/uploads/2018/06/logo-anthem.jpg"
                    alt="Mike Bowlin - UX Designer and Software Engineer - Anthem Blue Cross"></ion-col>
                <ion-col><img src="http://mikebowlin.com/wp-content/uploads/2018/06/logo-applied-pathways.jpg"
                    alt="Mike Bowlin - UX Designer and Software Engineer - Applied Pathways"></ion-col>
                <ion-col><img src="http://mikebowlin.com/wp-content/uploads/2018/06/logo-mayo-clinic-2.jpg"
                    alt="Mike Bowlin - UX Designer and Software Engineer - Mayo Clinic"></ion-col>
              </ion-row>
              <ion-row>
                <ion-col><img src="http://mikebowlin.com/wp-content/uploads/2018/06/logo-cricket-wireless.jpg"
                    alt="Mike Bowlin - UX Designer and Software Engineer - Cricket Wireless"></ion-col>
                <ion-col><img src="http://mikebowlin.com/wp-content/uploads/2018/06/logo-arrow-electronics-1.jpg"
                    alt="Mike Bowlin - UX Designer and Software Engineer - Arrow Electronics"></ion-col>
                <ion-col><img src="http://mikebowlin.com/wp-content/uploads/2018/06/logo-rsi.jpg"
                    alt="Mike Bowlin - UX Designer and Software Engineer - RSI"></ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>


      <!-- ::::: Splash Image ::::: -->
      <ion-row>
        <ion-col>
          <img src="http://mikebowlin.com/wp-content/uploads/2019/09/slide1-1.jpg" alt="">
        </ion-col>
      </ion-row>

      <!-- ::::: Recommendation - Jason ::::: -->
      <ion-row>
        <ion-col size="10" offset="1">
          <hr>
          <ion-row>
            <ion-col size="8" offset="2" class="recommendation">
              <ion-row>
                <ion-col size="3">
                  <ion-row>
                    <ion-col size="12" class="ion-text-center ion-no-padding">
                      <img height="120px" width="auto"
                        src="http://mikebowlin.com/wp-content/uploads/2019/09/Screen-Shot-2019-09-29-at-5.43.29-AM.png"
                        alt="Mike Bowlin - Recomendation from Jason Montalto">
                    </ion-col>
                    <ion-col size="12" class="job-title ion-text-center ion-no-padding">
                      <h4>Jason Montalto</h4>
                      <p class="ion-no-margin"><em>Principal Architect</em></p>
                      <strong class="ion-no-margin">Anthem Blue Cross</strong>
                    </ion-col>
                  </ion-row>


                </ion-col>
                <ion-col class="body-copy">
                  <pre>"</pre>
                  <p>Mike is highly committed to ensuring that the quality of his work is turned up to 11. He is not
                    afraid
                    to dive in and get his hands dirty and is very reliable. Working exclusively on a remote team can be
                    challenging, but Mike fit in right away. He integrated well with the back-end heavy team. Mike
                    enjoyed
                    performing his duties while also helping to educate other developers about cutting edge presentation
                    layer techniques. He excelled at designing and inspiring our team to implement his meticulously
                    thought
                    through product visions.
                  </p>
                  <p></p>
                  <p>Through Mike’s leadership, our team was able to standardize our approach to ux and hifi design,
                    which
                    resulted in a significantly more refined set of products. Mike led the effort of reimagining our
                    entire
                    software suite, creating the vision and path forward for the next generation of products.</p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <hr>
        </ion-col>
      </ion-row>

      <!-- ::::: UX HEADER ::::: -->
      <ion-row>
        <ion-col size="10" offset="1" class="header-block ion-text-center" href="ux">
          <img src="../../assets/Mike-Bowlin-Branding-UX-Logo.svg" alt="Mike Bowlin UX Brand">
          <h2 class="ion-text-center">UX Design and Engineering</h2>
          <em>The Art Of Humanizing Technology</em>
          <ion-row>

            <ion-col size="6" offset="3">
              <p><span class="dropcap"><span class="first">E</span>m</span>pathetic, user-centered design principles
                guide my product engineering whether for Anthem BCBS's
                web applications or Arrow Electronics pattern libraries. Throughout my career I have mastered a
                multitude of design challenges that have helped to galvanize my UX/UI expertise.
              </p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <!-- ::::: UX SAMPLE SLIDES ::::: -->
      <ion-row>
        <ion-col size="10" offset="1">
          <!-- 
            <button ion-button *ngIf="!disablePrevBtn">prev</button>
            ---- 
 <button ion-button *ngIf="!disableNextBtn" (ionSlideNextEnd)="slideNext()">Next</button> -->

          <ion-row>
            <ion-col size="8" offset="2">
              <!-- <img src="http://mikebowlin.com/wp-content/uploads/2019/09/Screen-Shot-2017-07-12-at-10.30.12-AM.png"
                alt=""> -->

              <!-- Slides -->
              <ion-slides #slides (ionSlideWillChange)="doCheck()" pager="true" [options]="slideOpts">

                <!-- Slide 1 -->
                <ion-slide>
                  <ion-row>
                    <ion-col size="12">
                      <ion-item>
                        <ion-label>
                          The <em>Curion Go</em> product ::: <span><em>Mayo Clinic and Applied Pathways</em></span>
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col size="12">
                      <img
                        src="http://mikebowlin.com/wp-content/uploads/2019/09/Screen-Shot-2017-07-12-at-10.30.12-AM.png"
                        alt="">
                    </ion-col>
                  </ion-row>
                </ion-slide>

                <!-- Slide 2 -->
                <ion-slide>
                  <ion-row>
                    <ion-col size="12">
                      <ion-item>
                        <ion-label>
                          The <em>Curion Authoring </em> product mindmap ::: <span><em>Applied Pathways</em></span>
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col size="12">
                      <img
                        src="http://mikebowlin.com/wp-content/uploads/2019/09/Screen-Shot-2017-09-25-at-2.38.40-PM-e1569756902126.png"
                        alt="">
                    </ion-col>
                  </ion-row>
                </ion-slide>


                <!-- Slide 4 -->
                <ion-slide>
                  <ion-row>
                    <ion-col size="12">
                      <ion-item>
                        <ion-label>
                          The <em>Ask Mayo Clinic</em> UX Prototype ::: <span><em>Mayo Clinic</em></span>
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col size="12">
                      <img
                        src="http://mikebowlin.com/wp-content/uploads/2019/09/Screen-Shot-2019-09-26-at-11.28.28-PM-e1570130724492.png"
                        alt="">
                    </ion-col>
                  </ion-row>
                </ion-slide>

                <!-- Slide 5 -->
                <ion-slide>
                  <ion-row>
                    <ion-col size="12">
                      <ion-item>
                        <ion-label>
                          The <em>Clinical Decision Support</em> Product ::: <span><em>Mayo Clinic and Applied
                              Pathways</em></span>
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col size="12">
                      <img
                        src="http://mikebowlin.com/wp-content/uploads/2019/09/Screen-Shot-2017-07-12-at-10.44.24-AM.png"
                        alt="">
                    </ion-col>
                  </ion-row>
                </ion-slide>

                <!-- Slide 6 -->
                <ion-slide>
                  <ion-row>
                    <ion-col size="12">
                      <ion-item>
                        <ion-label>
                          Sample Flowchart
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col size="12">
                      <img
                        src="http://mikebowlin.com/wp-content/uploads/2019/09/Screen-Shot-2019-09-26-at-11.31.28-PM.png"
                        alt="">
                    </ion-col>
                  </ion-row>
                </ion-slide>

              </ion-slides>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>

      <!-- ::::: Recommendation 2  ::::: -->
      <ion-row>
        <ion-col size="10" offset="1">
          <hr>
          <ion-row>
            <ion-col size="8" offset="2" class="recommendation">
              <ion-row>
                <ion-col size="3">
                  <ion-row>
                    <ion-col size="12" class="ion-text-center ion-no-padding">
                      <img height="120px" width="auto"
                        src="http://mikebowlin.com/wp-content/uploads/2015/04/Screen-Shot-2019-09-29-at-3.38.59-AM.png"
                        alt="Mike Bowlin - Recomendation from Kurt Lingel">
                    </ion-col>
                    <ion-col size="12" class="job-title ion-text-center ion-no-padding">
                      <h4>Kurt Lingel</h4>
                      <p class="ion-no-margin"><em>CTO</em></p>
                      <strong class="ion-no-margin">Anthem Blue Cross</strong>
                    </ion-col>
                  </ion-row>


                </ion-col>
                <ion-col class="body-copy">
                  <pre>"</pre>
                  <p>Mike is an extremely talented UX/UI engineer. He truly focuses on understanding the user and the
                    problems they need to solve, and then turns that research into visual designs and implementations
                    that make the user experience more effective moving forward.
                  </p>
                  <p></p>
                  <p>Mike is also always looking for more
                    efficient tools for himself and the organization as a whole that allowed us to do rapid prototyping
                    and agile implementations that incorporate a constant feedback loop. I energetically recommend Mike
                    for your UX/UI team!</p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <hr>
        </ion-col>
      </ion-row>

      <!-- ::::: UI HEADER ::::: -->
      <ion-row>
        <ion-col size="10" offset="1" class="header-block ion-text-center" href="ux">
          <img src="../../assets/Mike-Bowlin-Branding-UI-Logo.svg" alt="Mike Bowlin UX Brand">
          <h2 class="ion-text-center">Software Engineering</h2>
          <em>knowing the code === a splendid UX</em>
          <ion-row>

            <ion-col size="6" offset="3">
              <!-- <p><span class="dropcap"><span class="first">E</span>m</span>pathetic, user-centered design principles
                guide my product engineering whether for Anthem BCBS's
                web applications or Arrow Electronics pattern libraries. Throughout my career I have mastered a
                multitude of design challenges that have helped to galvanize my UX/UI expertise.
              </p> -->
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <!-- ::::: UI SAMPLE SLIDES ::::: -->
      <ion-row>
        <ion-col size="10" offset="1">
          <!-- 
            <button ion-button *ngIf="!disablePrevBtn">prev</button>
            ---- 
 <button ion-button *ngIf="!disableNextBtn" (ionSlideNextEnd)="slideNext()">Next</button> -->

          <ion-row>
            <ion-col size="8" offset="2">
              <!-- <img src="http://mikebowlin.com/wp-content/uploads/2019/09/Screen-Shot-2017-07-12-at-10.30.12-AM.png"
                alt=""> -->

              <!-- Slides -->
              <ion-slides #slides (ionSlideWillChange)="doCheck()" pager="true" [options]="slideOpts">

                <!-- Slide 1 -->
                <ion-slide>
                  <ion-row>
                    <ion-col size="12">
                      <ion-item>
                        <ion-label>
                          The <em>Curion Go </em> web/mobile application ::: <span><em>Mayo Clinic and Applied
                              Pathways</em></span>
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col size="12">
                      <img
                        src="http://mikebowlin.com/wp-content/uploads/2019/09/Screen-Shot-2017-07-12-at-9.50.20-AM.png"
                        alt="">
                    </ion-col>
                  </ion-row>
                </ion-slide>

                <!-- Slide 2 -->
                <ion-slide>
                  <ion-row>
                    <ion-col size="12">
                      <ion-item>
                        <ion-label>
                          The <em>Curion Authoring </em> product mindmap ::: <span><em>Applied Pathways</em></span>
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col size="12">
                      <img
                        src="http://mikebowlin.com/wp-content/uploads/2019/09/Screen-Shot-2017-09-25-at-2.38.40-PM-e1569756902126.png"
                        alt="">
                    </ion-col>
                  </ion-row>
                </ion-slide>


                <!-- Slide 3 -->
                <ion-slide>
                  <ion-row>
                    <ion-col size="12">
                      <ion-item>
                        <ion-label>
                          The <em>Ask Mayo Clinic</em> UX Prototype ::: <span><em>Mayo Clinic</em></span>
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col size="12">
                      <img
                        src="http://mikebowlin.com/wp-content/uploads/2019/09/Screen-Shot-2019-09-26-at-11.28.28-PM-e1570130724492.png"
                        alt="">
                    </ion-col>
                  </ion-row>
                </ion-slide>

                <!-- Slide 4 -->
                <ion-slide>
                  <ion-row>
                    <ion-col size="12">
                      <ion-item>
                        <ion-label>
                          The <em>Clinical Decision Support</em> Product ::: <span><em>Mayo Clinic and Applied
                              Pathways</em></span>
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col size="12">
                      <img
                        src="http://mikebowlin.com/wp-content/uploads/2019/09/Screen-Shot-2017-07-12-at-10.44.24-AM.png"
                        alt="">
                    </ion-col>
                  </ion-row>
                </ion-slide>

                <!-- Slide 5 -->
                <ion-slide>
                  <ion-row>
                    <ion-col size="12">
                      <ion-item>
                        <ion-label>
                          Sample Flowchart
                        </ion-label>
                      </ion-item>
                    </ion-col>
                    <ion-col size="12">
                      <img
                        src="http://mikebowlin.com/wp-content/uploads/2019/09/Screen-Shot-2019-09-26-at-11.31.28-PM.png"
                        alt="">
                    </ion-col>
                  </ion-row>
                </ion-slide>

              </ion-slides>
            </ion-col>
          </ion-row>

        </ion-col>
      </ion-row>















      <!-- ::::: ABOUT HEADER ::::: -->
      <ion-row>
        <ion-col size="6" offset="3" class="header-block ion-text-center" href="ux">
          <img src="../../assets/Mike-Bowlin-Branding-MB-Logo.svg" alt="Mike Bowlin UX Brand">
          <h2>About Me</h2>
          <em><span class="dropcap"><span class="first">T</span>w</span>elve years of UX Design and Engineering from
            Startups to Enterprise.
          </em>
        </ion-col>
      </ion-row>

      <ion-col size="3">
        <div>

          <ion-row>
            <ion-col size="3">
              <img src="../../assets/Mike-Bowlin-UX-UI-Software-Engineer-Avatar.png"
                alt="Mike Bowlin UX UI Software Engineer Avatar">
            </ion-col>
            <ion-col size="7">
              <h3>Mike <span>Bowlin</span></h3>
              <p>Senior UX Designer and Software Engineer</p>
              <a href="mailto:info@michaelbowlin.com">info@michaelbowlin.com</a>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>



      <ion-row>
        <ion-col size="6" offset="3">

          <ion-col size="6" offset="3">

          </ion-col>

          <ion-card>
            <ion-item>
              <ion-label>12 years of UX from Startup to Enterprise.</ion-label>
            </ion-item>

            <ion-card-content>
              <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>
              <p></p>
              <p></p>
              <p>blah blah blah blah blah blah blah blah blah blah blah blah blah blah </p>

            </ion-card-content>
            <footer>

              <ion-item>
                <ion-label>Industries:</ion-label>
              </ion-item>
              <p></p>
              <ion-chip outline>
                <ion-label>Healthcare</ion-label>
              </ion-chip>

              <ion-chip outline>
                <ion-label>Education</ion-label>
              </ion-chip>

              <ion-chip outline>
                <ion-label>Telecommunications</ion-label>
              </ion-chip>

              <ion-chip outline>
                <ion-label>Distribution</ion-label>
              </ion-chip>

              <ion-chip outline>
                <ion-label>Startups</ion-label>
              </ion-chip>


            </footer>
          </ion-card>

        </ion-col>
      </ion-row>



      <ion-row>
        <ion-col size="10" offset="1" class="header-block ion-text-center" href="ux">
          <ion-row>
            <ion-col size="6" offset="3">
              <!-- Header -->
              <h2 class="ion-text-center">UX Samples</h2>
              <p><span class="dropcap"><span class="first">F</span>r</span>om discovery to UX prototyping and evaluation
                my UX leadership has helped shape multiple
                products in various industries.
              </p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>