.L {
  &-wrapper {
    min-width: 1366px;

    .intro {
      padding: 7em 1em 3em 1em;
      background: linear-gradient(to left, #2ebf91, #8360c3);
      background: url(../../assets/gradient-bg.jpg) 50%;
    }

    h1 {
      color: var(--ion-color-light);
      font-size: 4.5em;
      font-weight: 100;
      text-align: center;
      position: fixed;
      top: 15%;
      left: calc(50% - 50%);
      width: 100%;
    }

    .content {
      .header-block {
        padding: 6.5em 1em 2em 1em;

        .brand-logo {
          margin-top: 18px;
        }
      }

      ion-slides {
        --bullet-background: #eee;
        --bullet-background-active: #000;

        ion-slide {
          //height: 700px !important;

          &:nth-child(1) {
          }

          &:nth-child(2) {
          }

          &:nth-child(3) {
          }
        }
      }
    }
  }
}

ion-grid {
  padding: 0;
}
